* {
    box-sizing: border-box;
}

/* Body */
body {
    background: white;
    color: purple;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 85%;
}

header h4 {
    padding-left: 20px;
    font-size: 2.0rem;
    display: inline;
}

.timer {
    font-size: 2.0rem;
    color: black;
    display: inline;
    text-align: right;
    padding-right: 20px;
}

/* Main */
.container {
    padding: 20px;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

h1 {
    color:black;
    font-size: 3.0rem;
    font-weight: bold;
}

p {
    color: black;
    font-size: 2.0 rem;
}

.start {
    align-items: center;
    text-align: center;
}

.start h1, .start p {
    text-align: center;
}

.questions {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 20px;
    margin: auto;
}

.end input {
    outline: thick;
    border-width: 1px;
    padding: 5px;
    width: 35%;
    font-size: 2.2rem;
    border-radius: 5px;
}

.end input:focus {
    border: 2px solid purple;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

#question {
    color: black;
    text-align: left;
    font-size: 3.0rem;
    font-weight: bold;
}

#high-score {
    text-align: left;
}

/* Buttons */
.button {
    background: purple;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px grey;
    margin-top: 10px;
}

